h1{font-size:20px; color:#f00; margin:10px; }

h2{font-size:14px; color:#36f; margin:5px;}

p{font-size:12px; color:#333; margin:5px;}

#head{height: 50px; background-color:#3ff; padding:10px; border:1px solid #09f; color: #fff;}

.headline{color: #f00; border:1px solid #999; margin:30px; padding:20px;}